<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{sleep}}">
		{{#if eaten}}Yum Yum Yum{{else}}{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
