<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{eaten}}">
		{{#if eaten}}Order{{else}}Back to the Menu{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
